<?xml version="1.0" encoding="UTF-8"?>

<!--
File appender logback configuration provided for import, equivalent to the programmatic
initialization performed by Boot
-->

<included>
    <!-- 控制台文件输出 -->
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="DAILY-FILE" append="true">
        <file>${logging.path}/${logging.file}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${logging.path}/${logging.file}/${logging.file}.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{HH:mm:ss.SSS} %-5level [%t] %logger: %msg%n%throwable
            </pattern>
        </encoder>
    </appender>
</included>