<?xml version="1.0" encoding="UTF-8"?>

<included>
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="DAILY-ERROR-FILE" append="true">
        <file>${logging.path}/${logging.file}-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${logging.path}/${logging.file}/${logging.file}-error.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{HH:mm:ss.SSS} %-5level [%t] %logger: %msg%n%throwable
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
</included>