<?xml version="1.0" encoding="UTF-8"?>

<!--
File appender logback configuration provided for import, equivalent to the programmatic
initialization performed by Boot
-->

<included>
    <!-- 控制台输出 -->
    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{ISO8601} %highlight(%-5level) [%blue(%t)] %cyan(%C{1.}): %msg%n%throwable
            </pattern>
        </encoder>
    </appender>
</included>